/*MAIN  desde creditohipotecario hasta seguros*/

/*hasta el momento eh trabajado en index y la pagina sucursales y una que otra cosa en las demas paginas*/

.creditohipotecario {


    width: 600px;
    height: 400px;
    border: 1px solid gainsboro;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
    border-radius: 15px;
    background-color: aliceblue;
    display: inline-block;
    margin-right: 20px;
}




.creditohipotecario img {

    width: 320px;
    height: 200px;
    border-radius: 30px;
    margin-top: 20px;
}

.creditohipotecario p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;

}

.creditohipotecario a {

    text-decoration: none;
    background-color: rgb(17, 20, 153);
    padding: 10px;
    color: white;
    border-radius: 10px;




}


.tarjetas {

    width: 600px;
    height: 400px;
    border: 1px solid gainsboro;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    background-color: aliceblue;
    margin-left: 19px;
    margin-top: 40px;

}

.tarjetas img {

    width: 340px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px;
}

.tarjetas p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;

}

.tarjetas a {

    text-decoration: none;
    background-color: rgb(17, 20, 153);
    padding: 10px;
    color: white;
    border-radius: 10px;



}




.cuentasueldo {

    width: 600px;
    height: 400px;
    border: 1px solid gainsboro;
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 15px;

    margin-top: 42px;
}

.cuentasueldo img {

    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px;
}

.cuentasueldo p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;

}

.cuentasueldo a {

    text-decoration: none;
    background-color: rgb(17, 20, 153);
    padding: 10px;
    color: white;
    border-radius: 10px;




}


.cuentaonline {

    width: 600px;
    height: 400px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 15px;

}


.cuentaonline img {

    width: 350px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px;
}

.cuentaonline p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;

}

.cuentaonline a {

    text-decoration: none;
    background-color: rgb(17, 20, 153);
    padding: 10px;
    color: white;
    border-radius: 10px;



}



.beneficios {

    width: 600px;
    height: 400px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 15px;
    margin-right: 20px;
}

.beneficios img {

    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px;
}

.beneficios p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;

}

.beneficios a {

    text-decoration: none;
    background-color: rgb(17, 20, 153);
    padding: 10px;
    color: white;
    border-radius: 10px;



}


.seguros {

    width: 600px;
    height: 400px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 15px;

}

.seguros img {

    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px;
}

.seguros p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;

}

.seguros a {

    text-decoration: none;
    background-color: rgb(17, 20, 153);
    padding: 10px;
    color: white;
    border-radius: 10px;



}

/*header y navs*/

header {
    padding: 20px;
    justify-content: space-between;
    margin: 20px;
    width: 90%;
    display: flex;
    align-items: center;
}

header h1 {
    text-align: left;
}


nav ul {

    display: flex;
    justify-content: center;
    list-style: none;


}

nav ul li {

    margin: 77px 8px 0 19px;

}

nav ul li a {


    text-decoration: none;
    color: rgba(32, 109, 172, 0.925);
    background-color: rgba(245, 245, 245, 0.918);
    padding: 12px;
    font-size: 15px;
    font-weight: 900px;
    border-radius: 30px;
}

/*icono de robot que te persigue por toda la pantalla*/
/*.boton-robot img {

    width: 80;
    height: 80px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}*/

.logo-banco img {

    width: 100px;
    height: 100px;

}

/*texto principal "Nombre del banco"*/
h1 {

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

/*titulo secundario" Hola como podemos ayudarte"*/

h2 {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: dimgrey;
}

/*footer*/
.redes a img {

    width: 50px;
    height: 50px;
    margin-right: 25px;
}

/*pages sucursales*/

.palermo {

    margin-top: 80px;
    text-align: center;
}

.recoleta {


    margin-top: 80px;
    text-align: center;

}

.vicente {


    margin-top: 80px;
    text-align: center;
}


.iframe {

    margin-left: 460px;
}

.menu-header ul li {


    margin-left: 300px;

}

.pin img {

    width: 150px;
    height: 150px;
    margin-left: 590px;
}

/*inicio contenedor de grillas*/

.grid-contenedor-principal {

    display: flex;
    flex-wrap: wrap;

    background-color: rgb(20, 34, 163);
    display: grid;
    grid-template-rows: 200px;
    grid-template-areas:
        "nav header navv"
    ;

}

.grid-contenedor-section {

    display: flex;
    flex-wrap: wrap;
}



/*respectivas clases declaradas en el index*/

.encabezado {

    grid-area: header;
}

.navl {

    grid-area: nav;
    display: flex;

}

.navr {


    grid-area: navv;
    display: flex;
}


.navl ul {

    flex-direction: column;

}

.navl ul li {

    margin: 50px 0px 0px 0px;
}





/* inicio grilla contenedora para los nav*/
.grid-contenedor {


    background-color: rgb(12, 14, 105);


    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px;

    grid-template-areas:

        "header nav"
    ;

}

.h1-nav {

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    grid-area: header;
    display: flex;
}

/*asigno valores para que el nav de todas las paginas se situe hacia la derecha*/

.navegacion-all {
    margin: 0px 0px 0px 0px;
    grid-area: nav;
    display: flex;



}

/*asigno valores para los ul y li del index*/

.nav-inicio ul {

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.nav-inicio ul li {

    margin: 20px 0px 50px 0px;
}


/*inicio media queries*/

@media screen and (max-width: 2900px) {



    .grid-contenedor-section {
        display: flex;
        justify-content: space-between;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px;
        background-color: white;
        grid-template-areas:

            "a b c"
            "d e f"

        ;

    }



    .creditohipotecario {

        grid-area: a;
    }

    .tarjetas {
        grid-area: b;
    }

    .cuentasueldo {

        grid-area: c;
    }

    .cuentaonline {
        margin-top: 300px;
        grid-area: d;
    }

    .beneficios {
        margin-top: 300px;
        grid-area: e;
    }

    .seguros {
        margin-top: 300px;
        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 250px;
        width: 350px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }






    .grid-contenedor-principal {
        background-color: rgb(12, 14, 105);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        grid-template-areas:
            "nav header navv"

        ;


    }

    .encabezado {

        grid-area: header;
    }


    .navl ul {

        grid-area: nav;
    }

    .navr ul {

        grid-area: navv;


    }



}


@media screen and (max-width: 2000px) {

    .grid-contenedor {


        background-color: rgb(12, 14, 105);
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px;

        grid-template-areas:

            "header nav"
        ;

    }

    .h1-nav {

        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        color: white;
        grid-area: header;
        display: flex;
    }


    .navegacion-all1 {
        margin: 0px 0px 0px 0px;
        grid-area: nav;

        display: flex;
        flex-wrap: wrap;



    }



    .grid-contenedor-section {
        display: flex;
        justify-content: space-between;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 600px 600px;
        background-color: white;
        grid-template-areas:

            "a b"
            "c d"
            "e f"

        ;

    }



    .creditohipotecario {
        width: 600px;
        height: 400px;
        grid-area: a;
    }

    .tarjetas {

        width: 600px;
        height: 400px;
        margin-top: 43px;
        margin-left: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 600px;
        height: 400px;
        margin: 0px;
        grid-area: c;
    }

    .cuentaonline {
        width: 600px;
        height: 400px;
        margin: 0px;

        grid-area: d;
    }

    .beneficios {
        margin: 0px;

        grid-area: e;
    }

    .seguros {

        margin: 0px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 250px;
        width: 350px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }






    .grid-contenedor-principal {

        background-color: rgb(12, 14, 105);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        grid-template-areas:
            "nav header navv"

        ;


    }

    .encabezado {

        grid-area: header;
    }


    .navl ul {

        grid-area: nav;
    }

    .navr ul {

        grid-area: navv;


    }



}

@media screen and (max-width: 140px) {



    .grid-contenedor {


        background-color: rgb(12, 14, 105);
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 150px;

        grid-template-areas:

            "header nav"
        ;

    }

    .h1-nav {

        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        color: white;
        grid-area: header;
        display: flex;
    }


    .navegacion-all {
        margin: 0px 0px 0px 500px;
        grid-area: nav;
        display: flex;
        flex-direction: row;



    }
}

@media screen and (max-width: 1300px) {

    .grid-contenedor-principal {
        background-color: rgb(12, 14, 105);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 90px;
        grid-template-areas:
            "nav header"
            "navv navv"

        ;


    }

    .encabezado {

        grid-area: header;
    }

    .navl {
        display: flex;
    }


    .navl ul {

        grid-area: nav;
    }

    .navr {
        display: flex;
    }

    .navr ul {



        grid-area: navv;


    }

    .navr ul li {
        margin: 0px;
    }


    .grid-contenedor-section {
        display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 450px 450px;
        background-color: white;
        grid-template-areas:

            "a b"
            "c d"
            "e f"


        ;

    }



    .creditohipotecario {
        width: 500px;
        height: 400px;
        margin: 0px;
        grid-area: a;
    }

    .tarjetas {

        width: 500px;
        height: 400px;
        margin: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 500px;
        height: 400px;
        margin: 0px;
        grid-area: c;
    }

    .cuentaonline {
        width: 500px;
        height: 400px;
        margin: 0px;

        grid-area: d;
    }

    .beneficios {
        width: 500px;
        height: 400px;
        margin: 0px;

        grid-area: e;
    }

    .seguros {
        width: 500px;
        height: 400px;

        margin: 0px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 220px;
        width: 280px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }


}

@media screen and (max-width: 1050px) {

    .grid-contenedor {


        background-color: rgb(12, 14, 105);
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px;

        grid-template-areas:

            "header"
            "nav"
        ;

    }

    .h1-nav {

        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        color: white;
        grid-area: header;
        display: flex;
    }


    .navegacion-all1 {
        margin: 0px 0px 0px 0px;
        grid-area: nav;

        display: flex;
        flex-wrap: wrap;



    }






    .grid-contenedor-section {
        display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 450px 450px 450px 450px 450px;
        background-color: white;
        grid-template-areas:

            "a"
            "b"
            "c"
            "d"
            "e"
            "f"

        ;

    }



    .creditohipotecario {
        width: 500px;
        height: 400px;
        grid-area: a;
    }

    .tarjetas {

        width: 500px;
        height: 400px;
        margin-top: 43px;
        margin-left: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 500px;
        height: 400px;
        margin: 0px;
        grid-area: c;
    }

    .cuentaonline {
        width: 500px;
        height: 400px;
        margin: 0px;

        grid-area: d;
    }

    .beneficios {
        width: 500px;
        height: 400px;
        margin: 0px;

        grid-area: e;
    }

    .seguros {
        width: 500px;
        height: 400px;

        margin: 0px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 250px;
        width: 350px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }



    .nav-inicio ul {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 530px) {


    .grid-contenedor-principal {
        background-color: rgb(12, 14, 105);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px;
        grid-template-areas:
            "header"
            "nav"
            "navv navv"

        ;


    }

    .encabezado {

        grid-area: header;
    }

    .navl {

        grid-area: nav;
    }


    .navl ul {

        grid-area: nav;
    }

    .navr {
        display: flex;
        grid-area: nav;
    }

    .navr ul {



        grid-area: navv;


    }

    .navr ul li {
        margin: 0px;
    }



    .grid-contenedor-section {
        display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 450px 450px 450px 450px 450px;
        background-color: white;
        grid-template-areas:

            "a"
            "b"
            "c"
            "d"
            "e"
            "f"

        ;

    }



    .creditohipotecario {
        width: 400px;
        height: 450px;
        grid-area: a;
    }

    .tarjetas {

        width: 400px;
        height: 450px;
        margin-top: 43px;
        margin-left: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 400px;
        height: 450px;
        margin: 0px;
        margin-top: 80px;
        grid-area: c;
    }

    .cuentaonline {
        width: 400px;
        height: 450px;
        margin: 0px;
        margin-top: 120px;

        grid-area: d;
    }

    .beneficios {

        width: 400px;
        height: 450px;
        margin: 0px;
        margin-top: 150px;

        grid-area: e;
    }

    .seguros {
        width: 400px;
        height: 450px;
        margin: 0px;
        margin-top: 180px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 250px;
        width: 350px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }



    .nav-inicio ul {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 300px) {


    .grid-contenedor-section {
        display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 450px 450px 450px 450px 450px;
        background-color: white;
        grid-template-areas:

            "a"
            "b"
            "c"
            "d"
            "e"
            "f"

        ;

    }



    .creditohipotecario {
        width: 300px;
        height: 200px;
        grid-area: a;
    }

    .tarjetas {

        width: 300px;
        height: 200px;
        margin-top: 43px;
        margin-left: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 300px;
        height: 200px;
        margin: 0px;
        grid-area: c;
    }

    .cuentaonline {
        width: 300px;
        height: 200px;
        margin: 0px;

        grid-area: d;
    }

    .beneficios {

        width: 300px;
        height: 200px;
        margin: 0px;

        grid-area: e;
    }

    .seguros {
        width: 300px;
        height: 200px;
        margin: 0px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 150px;
        width: 250px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }



    .nav-inicio ul {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 538px) {

    .grid-contenedor-principal {
        display: flex;
        align-items: center;
        background-color: rgb(12, 14, 105);
    }


    .grid-contenedor-section {
        display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 450px 450px 450px 450px 450px;
        background-color: white;
        grid-template-areas:

            "a"
            "b"
            "c"
            "d"
            "e"
            "f"

        ;

    }



    .creditohipotecario {
        width: 260px;
        height: 450px;
        grid-area: a;
    }

    .tarjetas {

        width: 260px;
        height: 380px;
        margin-top: 43px;
        margin-left: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 260px;
        height: 400px;
        margin: 0px;
        grid-area: c;
    }

    .cuentaonline {
        width: 260px;
        height: 400px;
        margin: 0px;

        grid-area: d;
    }

    .beneficios {

        width: 260px;
        height: 400px;
        margin: 0px;

        grid-area: e;
    }

    .seguros {
        width: 260px;
        height: 400px;
        margin: 0px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 200px;
        width: 250px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }



    .nav-inicio ul {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 530px) {

    .navl ul {

        color: blue;
        background-color: aliceblue;
        padding: 2px;
        font-size: 30px;

        border-radius: 50px;
    }

    .navl ul li {
        margin: 0px;
    }

    .grid-contenedor-section {
        display: flex;
        align-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 450px 450px 450px 450px 450px;
        background-color: white;
        grid-template-areas:

            "a"
            "b"
            "c"
            "d"
            "e"
            "f"

        ;

    }



    .creditohipotecario {
        width: 200px;
        height: 450px;
        grid-area: a;
    }

    .tarjetas {

        width: 200px;
        height: 380px;
        margin-top: 43px;
        margin-left: 0px;

        grid-area: b;
    }

    .cuentasueldo {
        width: 200px;
        height: 400px;
        margin: 0px;
        grid-area: c;
    }

    .cuentaonline {
        width: 200px;
        height: 400px;
        margin: 0px;

        grid-area: d;
    }

    .beneficios {

        width: 200px;
        height: 400px;
        margin: 0px;

        grid-area: e;
    }

    .seguros {
        width: 200px;
        height: 400px;
        margin: 0px;

        grid-area: f;
    }


    .grid-contenedor-section img {

        height: 150px;
        width: 200px;


    }

    .grid-contenedor-section p {

        text-align: center;

    }



    .nav-inicio ul {
        flex-direction: column;
        align-items: center;
    }

}

/*inicio de gradientes y animaciones*/



.nav-inicio {

    transition: 5s;
}

.nav-inicio ul :hover {


    text-decoration: overline;

    transform: scale(1.5);
}

.navl ul :hover {

    transform: scale(1.2);
}

.navr ul :hover {

    transform: scale(1.2);
}

.redes :hover {

    transform: scale(1.2);
}

.seguros a:hover {

    background-color: rgba(21, 21, 252, 0.671);
    color: white;
}

.creditohipotecario a:hover {


    background-color: rgba(21, 21, 252, 0.671);
    color: white;
}

.tarjetas a:hover {

    background-color: rgba(21, 21, 252, 0.671);
    color: white;
}

.cuentasueldo a:hover {

    background-color: rgba(21, 21, 252, 0.671);
    color: white;
}

.cuentaonline a:hover {

    background-color: rgba(21, 21, 252, 0.671);
    color: white;
}

.beneficios a:hover {

    background-color: rgba(21, 21, 252, 0.671);
    color: white;
}

.navegacion-all1 ul :hover {


    text-decoration: overline;

    transform: scale(1.5);
}

.carousel {

    margin-top: 10px;
    margin-bottom: 50px;
}

/*INICIO DE DIFERENTES ESTILOS PARA LA PAGINA CENTRO DE AYUDA*/

/*INICIO DE CONTENEDOR Y GRID AREAS*/
.centro-de-ayuda-contenedor {
    margin-bottom: 100px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-areas:

        "c1 b1"
        "c2 b2"
        "c3 b3"
        "c4 b4"
        "c5 b5"



}



.progress{
    margin-top: 7px;

   
    grid-area: b1;
}

.c1{
margin: 0px;

    text-align: start;
    grid-area: c1;
}


.b2{


    grid-area: b2;

}


.c2{
    text-align: start;
    grid-area: c2;
}

.b3{


    grid-area: b3;

}


.c3{

    text-align: start;
    grid-area: c3;
}


.b4{

    grid-area: b4;

}

.c4{
    text-align: start;
    grid-area: c4;
}

.b5{

    grid-area: b5;

}


.c5 {
    text-align: start;
    grid-area: c5;
}

.imgcentrodeayuda {
    margin-bottom: 200px;
}

.grid-footer-centro-de-ayuda 
.c5{
    text-align: start;
    grid-area: c5;
}
  
.imgcentrodeayuda{
    margin-bottom: 200px;
}

.grid-footer-centro-de-ayuda{



    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;

    grid-template-areas:

        "c d"
        "a b"
    ;
}

.redes-texto-blanco {
    grid-area: d;

}

.redes-texto {
    margin-left: 15px;
    margin-top: 15px;
    grid-area: c;
}

.redes {
    margin-top: 10px;
    grid-area: a;
}

.llamada-banco {

    grid-area: b;
}

   