*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-inicio {
  transition: 5s; }
  .nav-inicio ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none; }
    .nav-inicio ul li {
      margin: 20px 0px 10px 0px; }
      .nav-inicio ul li:hover {
        text-decoration: overline;
        transform: scale(1.5); }
      .nav-inicio ul li a {
        text-decoration: none;
        color: rgba(32, 109, 172, 0.925);
        background-color: rgba(245, 245, 245, 0.918);
        padding: 12px;
        font-size: 15px;
        border-radius: 30px; }

.logo-banco img {
  width: 50px;
  height: 50px; }

h1 {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  color: #1619aa; }

.grid-contenedor-section {
  display: flex;
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 400px;
  background-color: white;
  grid-template-areas: "a b c" "d e f"; }

.creditohipotecario {
  grid-area: a; }

.tarjetas {
  grid-area: b; }

.cuentasueldo {
  grid-area: c; }

.cuentaonline {
  margin-top: 300px;
  grid-area: d; }

.beneficios {
  margin-top: 300px;
  grid-area: e; }

.seguros {
  margin-top: 300px;
  grid-area: f; }

img {
  height: 250px;
  width: 350px; }

p {
  text-align: center; }

.creditohipotecario {
  width: 600px;
  height: 400px;
  border: 1px solid gainsboro;
  margin-bottom: 80px;
  margin-top: 40px;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  display: inline-block;
  margin-right: 20px; }
  .creditohipotecario img {
    width: 320px;
    height: 200px;
    border-radius: 30px;
    margin-top: 20px; }
  .creditohipotecario p {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 20px; }
  .creditohipotecario a {
    text-decoration: none;
    background-color: #111499;
    padding: 10px;
    color: white;
    border-radius: 10px; }

.tarjetas {
  width: 600px;
  height: 400px;
  border: 1px solid gainsboro;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  margin-left: 19px;
  margin-top: 40px; }
  .tarjetas img {
    width: 340px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px; }
  .tarjetas p {
    margin-top: 20px;
    margin-bottom: 67px;
    font-size: 20px; }
  .tarjetas a {
    text-decoration: none;
    background-color: #111499;
    padding: 10px;
    color: white;
    border-radius: 10px; }

.cuentasueldo {
  width: 600px;
  height: 400px;
  border: 1px solid gainsboro;
  text-align: center;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 15px;
  margin-top: 42px; }
  .cuentasueldo img {
    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px; }
  .cuentasueldo p {
    margin-top: 20px;
    margin-bottom: 65px;
    font-size: 20px; }
  .cuentasueldo a {
    text-decoration: none;
    background-color: #111499;
    padding: 10px;
    color: white;
    border-radius: 10px; }

.cuentaonline {
  width: 600px;
  height: 400px;
  border: 1px solid gainsboro;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 15px; }
  .cuentaonline img {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px; }
  .cuentaonline p {
    margin-top: 20px;
    margin-bottom: 97px;
    font-size: 20px; }
  .cuentaonline a {
    text-decoration: none;
    background-color: #111499;
    padding: 10px;
    color: white;
    border-radius: 10px; }

.beneficios {
  width: 600px;
  height: 400px;
  border: 1px solid gainsboro;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 15px;
  margin-right: 20px; }
  .beneficios img {
    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px; }
  .beneficios p {
    margin-top: 20px;
    margin-bottom: 97px;
    font-size: 20px; }
  .beneficios a {
    text-decoration: none;
    background-color: #111499;
    padding: 10px;
    color: white;
    border-radius: 10px; }

.seguros {
  width: 600px;
  height: 400px;
  border: 1px solid gainsboro;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 15px; }
  .seguros img {
    width: 330px;
    height: 200px;
    margin-top: 20px;
    border-radius: 30px; }
  .seguros p {
    margin-top: 20px;
    margin-bottom: 97px;
    font-size: 20px; }
  .seguros a {
    text-decoration: none;
    background-color: #111499;
    padding: 10px;
    color: white;
    border-radius: 10px; }

@media screen and (max-width: 2900) {
  .grid-contenedor-section {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    background-color: white;
    grid-template-areas: "a b c" "d e f"; }
    .grid-contenedor-section img {
      height: 250px;
      width: 350px; }
    .grid-contenedor-section .p {
      text-align: center; }
    .grid-contenedor-section .creditohipotecario {
      grid-area: a; }
    .grid-contenedor-section .tarjetas {
      grid-area: b; }
    .grid-contenedor-section .cuentasueldo {
      grid-area: c; }
    .grid-contenedor-section .cuentaonline {
      margin-top: 300px;
      grid-area: d; }
    .grid-contenedor-section .beneficios {
      margin-top: 300px;
      grid-area: e; }
    .grid-contenedor-section .seguros {
      margin-top: 300px;
      grid-area: f; } }

@media screen and (max-width: 2000px) {
  .grid-contenedor-section {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 600px 600px 600px;
    background-color: white;
    grid-template-areas: "a b" "c d" "e f"; }
    .grid-contenedor-section img {
      height: 250px;
      width: 350px; }
    .grid-contenedor-section p {
      text-align: center; }
    .grid-contenedor-section .creditohipotecario {
      width: 600px;
      height: 400px;
      grid-area: a; }
    .grid-contenedor-section .tarjetas {
      width: 600px;
      height: 400px;
      margin-top: 43px;
      margin-left: 0px;
      grid-area: b; }
    .grid-contenedor-section .cuentasueldo {
      width: 600px;
      height: 400px;
      margin: 0px;
      grid-area: c; }
    .grid-contenedor-section .cuentaonline {
      width: 600px;
      height: 400px;
      margin: 0px;
      grid-area: d; }
    .grid-contenedor-section .beneficios {
      margin: 0px;
      grid-area: e; }
    .grid-contenedor-section .seguros {
      margin: 0px;
      grid-area: f; } }

.redes img {
  width: 50px;
  height: 50px;
  margin-right: 25px; }

.redes :hover {
  transform: scale(1.2); }

.creditohipotecario a:hover, .tarjetas a:hover, .cuentasueldo a:hover, .cuentaonline a:hover, .beneficios a:hover, .seguros a:hover {
  background-color: rgba(21, 21, 252, 0.671);
  color: white; }
