.pin {
    text-align: center;


    img {
        width: 100px;
        height: 100px;
    }
}

.sucursales {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 19, 121, 1) 0%, rgba(0, 121, 255, 0.9304096638655462) 28%);
    color: white;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;

}

.palermo {
    margin-top: 40px;
    text-align: center;
}

.recoleta {
    margin-top: 80px;
    text-align: center;
}

.vicente {
    margin-top: 80px;
    text-align: center;
}